*{
    box-sizing: border-box;
}
header{
    color: aquamarine;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 80px;
    text-align: center;
    background-color: blueviolet;
}

